.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  font-family: "Edu NSW ACT Foundation", cursive;
}
form {
  margin: 10px;
}
.border {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  background-color: #ff9b50;
  margin: 10px;
}

.container {
  background-color: #ffbb5c;
  width: 600px;
  height: 400px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 80px 350px;
}

.Search {
  text-align: center;
}

.btn {
  background-color: orange;
}

.Descriptions,
.temperature {
  text-align: center;
}
